@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
body {
  background: #2196f3;
}
.task {
  background: #f5f5f5;
  height: 50px;
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
}
.button1 {
  background: white;
  border: 2px solid white;
  color: #333333;
  border-radius: 3px 3px 3px 3px;
  width: 250px;
  height: 50px;
  box-shadow: 0 3px 0 #2187f3;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button1:hover {
  background: #e4e4e4;
  border-color: #e4e4e4;
}
.button1:active {
  background: #c4c4c4;
  border-color: #c4c4c4;
}
.buttondiv1 {
  width: 250px;
  height: 50px;
  margin-left:auto;
  margin-right:auto;
}
.field {
  width: 501px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.filter {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 14px;
  line-height:22px;
  width: 501px;
  height: 100px;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
  background: #1976d2;
}
.filtertop {
  text-align: center;
  font-size: 20px;
  height: 50px;
  display:flex;
  justify-content:center;
  align-items:center
}
.filterdown {
  width: 501px;
  height: 25px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.filtercheck {
  width: 167px;
  margin: 0;
}
.filterlable {
  width: 167px;
  margin: 0;
  text-align: center;
}
.button2 {
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
  background: transparent;
  border: 2px solid transparent;
  width: 167px;
  height: 25px;
}
.button2:hover {
  background: #e4e4e4;
  border-color: #e4e4e4;
}
.button2:active {
  background: #c4c4c4;
  border-color: #c4c4c4;
}
.taskdown {
  height: 25px;
  width: 501px;
  margin: 0;
}
.tasktop {
  width: 481px;
  height: 25px;
  margin: 0;
  display:flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.checkbox {
  width: 157px;
  height: 25px;
  margin: 0;
  float:left;
  clear:both;
  display:flex;
  padding-left: 10px;
  align-items:center;
}
.editname {
  width: 152px;
  height: 19px;
  resize:vertical;
  outline: none;
  background: #f5f5f5;
  padding-left: 10px;
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
  overflow: auto;
  float:left;
  }
.selectbox {
  width: 167px;
  height: 25px;
  background: #f5f5f5;
  border: 2px solid transparent;
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
  margin: 0;
  float:left;
  display:flex;
  align-items:center;
}
.datebox {
  width: 162px;
  height: 21px;
  background: #f5f5f5;
  border: 2px solid transparent;
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
  margin: 0;
  float:right;
  display:flex;
  align-items:center;
}
.datebox:hover {
  background: #e4e4e4;
}
.datebox:active {
  background: #c4c4c4;
}
.button3 {
  font-family: 'Didact Gothic', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height:22px;
  background: transparent;
  border: 2px solid transparent;
  width: 167px;
  height: 25px;
  float:right;
}
.button3:hover {
  background: #e4e4e4;
  border-color: #e4e4e4;
}
.button3:active {
  background: #c4c4c4;
  border-color: #c4c4c4;
}
.checkdiv {
  width: 157px;
  height: 25px;
  float: left;
  padding-left: 10px;
}